.background {
  viewport-fill: black;
}

.hidden {
  display: none;
}

.ui_bar {
  fill: #ff990b;
}

.health_bar {
  fill: #b3320e;
}

.shield_bar {
  fill: #00a7bc;
}

.bar_bg {
  fill: #000000;
  opacity: 0.5;
}

.box {
  fill: black;
  opacity: 0.5;
}

.text {
  fill: white;
}

.text_black {
  fill: black;
}

.text_gold {
  fill: #ff990b;
}

.label_end {
  width: 20;
  height: 20;
}

.stat_icon {
  width: 20;
  height: 20;
}

.salute_icon {
  fill: white;
}

#img_class_portrait {
  width: 64;
  height: 64;
}

#img_steps_icon {
  width: 70;
  height: 32;
}

#img_calories_icon {
  width: 70;
  height: 35;
}

#img_drg_logo {
  width: 66;
  height: 79;
}

#salute_bg {
  fill: black;
}
