.background {
  viewport-fill: black;
}

.bar {
  fill: rgb(253,136,10);
}

.box {
  fill: black;
  opacity: 0.6;
}

#text_time {
  fill: white;
}

#text_class_name {
  fill: white;
}

#img_class_portrait {
  width: 64;
  height: 64;
}

#img_class_icon {
  width: 50;
  height: 50;
}
