.background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.icon {
  x: 130;
  y: 75;
  width: 80;
  height: 80;
}

.card-bg {
  x: 10;
  y: 8;
  width: 328;
  height: 236;
}

.card-title {
  x: 25;
  y: 40;
  width: 85%;
  height: 70%;
  fill: #FFFFFF;
  text-anchor: start;
  text-length: 256;
  font-family: Colfax-Medium;
  font-size: 34;
  rows: 4;
  text-overflow: ellipsis;
}

.card-index {
  x: 50%;
  y: 31;
  width: 100%;
  height: 20%;
  fill: #FFFFFF;
  text-anchor: middle;
  text-length: 8;
  font-family: Colfax-Medium;
  font-size: 20;
}

.card-date {
  x: 25;
  y: 237;
  width: 80%;
  height: 20%;
  fill: #FFFFFF;
  text-anchor: start;
  text-length: 32;
  font-family: Colfax-Medium;
  font-size: 24;
  text-overflow: ellipsis;
}

.card-div-line {
  x: 0;
  y: 208;
  width: 348;
  height: 5;
  fill: #000000;
}

.loading-text {
  x: 50%;
  y: 80%; 
  width: 100%;
  height: 30%;
  fill: #999999;
  text-anchor: middle;
  text-length: 64;
  font-family: Colfax-Medium;
  font-size: 30; 
  font-weight: bold;
}
