.background {
  viewport-fill: fb-black;
}

.line-name {
  x: 30%;
  y: 48%;
  width: 100%;
  height: 30%;
  fill: #777777;
  text-anchor: start;
  text-length: 64;
  font-family: Colfax-Medium;
  font-size: 28;
  font-weight: bold;
}

.line-status {
  x: 30%;
  y: 61%;
  width: 100%;
  height: 30%;
  fill: #000000;
  text-anchor: start;
  text-length: 64;
  font-family: Colfax-Medium;
  font-size: 35;
  font-weight: bold;
}

.line-line {
  x: 40;
  y: 0;
  width: 7%;
  height: 100%;
}