.app-background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.loading-icon {
  x: 128;
  y: 112;
  width: 80;
  height: 80;
}

.loading-text {
  x: 50%;
  y: 65%;
  width: 100%;
  height: 30%;
  fill: #999999;
  text-anchor: middle;
  text-length: 64;
  font-family: Colfax-Medium;
  font-size: 24;
  font-weight: bold;
}

.card-banner {
  y: 10;
  height: 35;
  width: 100%;
}

.card-title {
  x: 20;
  y: 50;
  width: 88%;
  height: 90%;
  fill: #FFFFFF;
  text-anchor: start;
  text-length: 256;
  font-family: Colfax-Medium;
  font-size: 32;
  rows: 6;
  text-overflow: ellipsis;
}

.card-description {
  x: 25;
  y: 50;
  width: 85%;
  height: 80%;
  fill: #FFFFFF;
  text-anchor: start;
  text-length: 256;
  font-family: Colfax-Medium;
  font-size: 26;
  rows: 7;
  text-overflow: ellipsis;
}

.card-index {
  x: 50%;
  y: 35;
  width: 100%;
  height: 20%;
  fill: #FFFFFF;
  text-anchor: middle;
  text-length: 8;
  font-family: Colfax-Medium;
  font-size: 20;
}

.card-date {
  x: 50%;
  y: 313;
  width: 100%;
  height: 20%;
  fill: #BBBBBB;
  text-anchor: start;
  text-length: 32;
  font-family: Colfax-Medium;
  font-size: 22;
  text-overflow: ellipsis;
  text-anchor: middle;
}

.card-div-line {
  x: 10%;
  y: 285;
  width: 80%;
  height: 3;
  fill: #444444;
}

.card-arrow-right {
  x: 75%;
  y: 10;
  width: 36;
  height: 36;
}

.card-arrow-left {
  x: 15%;
  y: 10;
  width: 36;
  height: 36;
}
