.background {
  viewport-fill: black;
}

.bar {
  y: 180;
  height: 8;
  fill: white;
  pointer-events: visible;
}

.time-digit {
  y: 120;
  width: 53;
  height: 53;
}

.date-digit {
  y: 196;
  width: 26;
  height: 26;
}
